body{
	text-align: center;
	background-color: CDB2F9;
}
.h{
	margin:0;
}
h1 {
	color: 4D0ABA;
	font-size: 62px;
	font-family:rockwell;
	font-weight:lighter;
}
div{
	width: 42%;
	margin:auto;
	height: 120px;
	background-color:white;
	border: 6px double;
	border-color:4D0ABA;
}
h2{
	font-size: 28px;
	font-weight:lighter;
	color:4D0ABA;
	text-align: right;
	font-family:mistral;
	line-height:0.8;
}
table{
	text-align: center;
	border-spacing: 30px;
}
td {
	border: 6px double;
	border-color: 4D0ABA;
	padding-bottom: 15px;
	width: 220px;
	height: 450px;
	background-color: white;
}
a:visited{
	color:purple;
}
a:hover{
	color: red;
}
a{
	color:4D0ABA;
}
a.fancy{
		font-family: bahnschrift condensed;
		font-size: 28px;
		text-decoration: none;
	a:visited{
		text-decoration:none;
}
.sign{
	color: 4D0ABA
}
